body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /* line-height: 2;  */
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
/* .middle-container {

}
.bottom-container {

} */
.pro {
    text-decoration: underline;

}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
/* .blue {
    background-color: blue;
    width: 100px;
    height: 100px;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
} */
